<%- include('partials/header') %>

<% for(let i = 0; i < blogList.length; i++){ %>
    <div class="">
        <h1><%= blogList[i][0] %></h1>
            <p class="description"><%= blogList[i][1].slice(0,140) %>...<a href="/post/<%= i %>">Read more</a>
    </div>
<% } %>    
<%- include('partials/footer') %> 
